.uk-table-responsive
  %table.uk-table.table.uk-table-striped.uk-table-divider
    %thead
      %tr
        %th
          Runda
        %th
          Gospodarz
        %th
          Gość
        %th
          Wynik
        %th
          Akcje
    %tbody
      = render @matches