%meta{:content => "Kasztelan Rozprza", :property => "og:title"}/
%meta{:content => "Oficjalna strona klubu LUMKS Kasztelan Rozprza", :property =>"og:description"}/
%meta{:content => (request.url), :property => "og:url"}/
%meta{:content => image_url('placeholder.jpg'), :property => "og:image"}