- if @post
  - content_for :head do
    %meta{:content => @post.title, :property => "og:title"}/
    %meta{:content => @post.meta_description, :property =>"og:description"}/
    %meta{:content => (request.url), :property => "og:url"}/
    %meta{:content => @post.image ? url_for(@post.image.image_url) : image_url('placeholder.jpg'), :property => "og:image"}
#root